$breakpoint-tablet: 768px;

body {
    width: 100%;
    margin-top: 113px;
    background-color: #EEEEEE;
    padding-top: 5px;
}

.hat {
    width: 93%;
    margin: 0 auto;
    background-color: white;
    margin-top: 20px;
    
    // @media (min-width: $breakpoint-tablet) {
    //     display: flex;
    //     flex-direction: row;
    // }
    // &:nth-child(1) { 
    //     @media (min-width: $breakpoint-tablet) {
    //         order: 2; 
    //     }
    // }   
    // &:nth-child(2) { 
    //     @media (min-width: $breakpoint-tablet) {
    //         order: 1; 
    //     }
    // }         

    &__container {
        width: 90%;
        margin: 0 auto;
        padding-top: 1px;
        
        @media (min-width: $breakpoint-tablet) {
            display: flex;
            flex-direction: row;
            width: 97%;
            justify-content: space-between;
        }
    }

    &__content-wrap {
        width: 100%;
        @media (min-width: $breakpoint-tablet) {
            width: 48%;
            order: 2;
        }         
    }
    &__title-wrap {
        width: 75%;
        @media (min-width: $breakpoint-tablet) {
            width: auto;
        }        
    }
    &__phillies-title {
        font-family: 'open sans';
        font-size: 14px;
        color: #000000;
        letter-spacing: 0.44px;
        line-height: 20px;
        @media (min-width: $breakpoint-tablet) {
            /* PHILADELPHIA PHILLIE: */
            font-size: 18px;
            letter-spacing: 0.5px;
        }      
    }
    &__59fifty-title {
        font-family: 'open sans';
        font-size: 28px;
        color: #000000;
        letter-spacing: 0.5px;
        text-align: left;
        // line-height: 28px;
        @media (min-width: $breakpoint-tablet) {
            font-size: 36px;
            // line-height: 36px;
        }      
    }
    &__price {
        /* $34.99: */
        font-family: 'open sans';
        font-size: 28px;
        color: #000000;
        letter-spacing: 0.5px;
        // line-height: 26px;
        @media (min-width: $breakpoint-tablet) {
            font-size: 36px;
            letter-spacing: 0.94px;
        }      
    }
    &__images-wrap-sm {
        margin: 0 auto;
        
        @media (min-width: $breakpoint-tablet) {
            display: none;
        }      
    }
    &__images-wrap {
        display: none;
        @media (min-width: $breakpoint-tablet) {
            display: block;
            width: 48%;
            margin: 70px auto;
            margin-right: 39px;
        }      
    }
    &__product-main {
        background-image: url(../images/product/hat1-new.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 230px;
        // width: 250px;
        width: 100%;
        background-position: center;
        // margin: 0 auto;
        margin-top: 27px;
        @media (min-width: $breakpoint-tablet) {
            margin: 0 auto;
            margin-top: 30px;
            width: 100%;
            height: 280px;

            
            
    }      
}

    &__img-link-wrap {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin: 0 auto;
        width: 90%;
        margin-top: 32px;
        @media (min-width: $breakpoint-tablet) {
            padding-top: 50px;
            width: 100%;
            margin-top: auto;
            // margin: 0;
        }      
    }
    &__image-link {
        width: 33.3333%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 50px;
        margin-bottom: 20px;
        background-position: center;
        @media (min-width: $breakpoint-tablet) {
            height: 61px;
        }      
        // &:active {
        //     opacity: .5;
        // }
        &:hover {
            cursor: pointer;
        }
        &--1 {
            background-image: url("../images/product/hat1.png");
        }
        &--2 {
            background-image: url("../images/product/hatsm3.png");
        }
        &--3 {
            background-image: url("../images/product/hat4.png");
        }
        &--4 {
            background-image: url("../images/product/hat1.png");
        }
        &--5 {
            background-image: url("../images/product/hatsm3.png");
        }
        &--6 {
            background-image: url("../images/product/hat4.png");
        }

    }
}

.selector {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    text-align: center;
    @media (min-width: $breakpoint-tablet) {
        display: none;
    }      
    &__size {
        width: 230px;
        text-align-last:center;
    }
    &__button-wrap {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        @media (min-width: $breakpoint-tablet) {
            padding-top: 63px;
            text-align: left;
        }      
    }
    &__button {
        background-color: black;
        font-family: 'open sans';
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0.89px;
        text-align: center;
        outline: none;
        padding-top: 9px;
        padding-bottom: 9px;
        width: 65%;
        @media (min-width: $breakpoint-tablet) {
            padding-top: 13px;
            padding-bottom: 13px;
            width: 55%;
        }      
        &:hover {
            cursor: pointer;
            opacity: .9;
        }
    }
}

.selector-lg {
    display: none;
    @media (min-width: $breakpoint-tablet) {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 16px;
    }      
    &__column {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 10px;
        flex-wrap: wrap;
    }
    &__size {
        width: 16%;
        font-family: 'open sans';
        font-size: 16px;
        color: #000000;
        letter-spacing: 0.94px;
        padding-top: 32px;
        padding-left: 5%;
        // text-align: center;
        &:hover {
            cursor: pointer;
        }
    }

}

.test {
    margin-top: 10px;
}

.content {

    padding-top: 20px;
    padding-bottom: 2px;

    &__para {
        font-family: 'open sans';
        font-size: 14px;
        color: #000000;
        letter-spacing: 0.5px;
        line-height: 22px;
    }
    &__details {
        font-family: 'open sans';
        font-size: 14px;
        color: #999999;
        letter-spacing: 0.5px;
        line-height: 22px;
    }
}

.related-caps {
    background-color:  white;
    &__title {
        margin-top: 30px;
        padding-top: 30px;
        font-family: 'open sans';
        font-size: 28px;
        color: #000000;
        letter-spacing: 0.7px;
        text-align: center;
        line-height: 20px;
    }
    &__image-wrap {
        // padding-left: 0;
        &--2 {
            padding-left: auto;
        }
    }

}



.opacity {
    opacity: .7;
}


.red {
    color: red;
}